
.topnav {
    overflow: hidden;
    background-color: #F4E9F3;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .logoaName{
    padding-left: 20px;
  }
  .logo{
    padding-left: 20px;
  }